@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

/* a{
    background-color: #ffffff;
} */


#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}